{% extends 'base.html' %}
{% block title %} Sign Up page {% endblock %}
{% block content %}
  <div id="content-container" class="container p-none">
  <div class="lgn-container col-lg-8">
  <form method="POST">
  {%csrf_token%}
  <h1> S'inscrire  </h1>
  {%for field in form.visible_fields%}
  <p>
    {{ field.label_tag }} <br>
    {{ field }}
    {% if field.help_text %}
    <small style="color: grey">{{ field.help_text}} </small>
    {% endif %}
    {% for error in field.errors %}
    <p style="color: red"> {{ error}} </p>
    {% endfor %}
    </p>
    {% endfor %}
    <button type="submit" class="btn btn-primary pull-right" > Sign up </button>
    </form>
    </div>
     </div>
{% endblock %}

